:host
    #mainContainer
        margin: 0 auto
        width: 1000px
        padding: 25px 0
        display: flex
        justify-content: space-between

    mat-form-field, #inputFileBlock
        display: inline-block

    mat-form-field
        width: 300px

    #inputFileBlock
        width: -moz-fit-content

    button
        width: 1000px
        margin: 0 auto
        display: block
