.btnCell
    width: 150px

#table__header
    th
        vertical-align: middle

#table__content

    tr
        &:hover
            background: #dadada
            cursor: pointer

        td
            vertical-align: middle

    .btn-up
        margin-bottom: 2px

    .btn-up, .btn-down
        display: block
        font-size: 10px

    .orderBtnsContainer
        margin-left: 10px
        display: inline-block
        vertical-align: middle

#btnContainer
    width: 800px
    margin: 15px auto
    display: flex
    justify-content: space-between